<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/index.js" type="module"></script>
</head>
<body>
    <header>
        <div class="container">
          <a href="/index.html"
            ><img class="logo" src="/assets/apple-removebg-preview.png" alt=""
          /></a>
          <nav>
            <a href="/index.html">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="contacto.html">Contacto</a>
          </nav>
          <button class="burger">
            <div class="bar"></div>
          </button>
        </div>
      </header>
      <nav class="mobile-nav">
        <a href="#">Inicio</a>
        <a href="templates/acercaDe.html">Acerca de</a>
        <a href="templates/contacto.html">Contacto</a>
      </nav>
      <div class="confirmation-container">
        <h2>¡Formulario Enviado Correctamente!</h2>
        <p>
          Gracias por ponerte en contacto con nosotros. Hemos recibido tu mensaje y nos pondremos en contacto contigo
          lo antes posible.
        </p>
        <p>
          Mientras tanto, si deseas obtener más información sobre nuestros productos y servicios, no dudes en explorar
          nuestra <a href="/index.html">página de inicio</a>.
        </p>
      </div>
    <footer class="footer">
        <div class="secciones">
          <ul>
            <li class="titulo-footer">Apple Store</li>
            <li>Encontrar una tienda</li>
            <li>App Apple Store</li>
            <li>Campamento Apple</li>
          </ul>
        </div>
        <div class="secciones">
          <ul>
            <li class="titulo-footer">Valores de Apple</li>
            <li>Accesibilidad</li>
            <li>Medio Ambiente</li>
            <li>Privacidad</li>
          </ul>
        </div>
        <div class="secciones">
          <ul>
            <li class="titulo-footer">Ver y Comprar</li>
            <li>Mac</li>
            <li>Ipad</li>
            <li>MacBook</li>
          </ul>
        </div>
        <div  class="secciones">
          <ul>
            <li class="titulo-footer">Acerca de Apple</li>
            <li>Directivos</li>
            <li>Newsroom</li>
            <li>Inversores</li>
          </ul>
        </div>
    </footer>
</body>
</html>